html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "CenturyGothicRegular", sans-serif;
  color: #070707;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background: url(../img/backgr.jpg) repeat top; }

.header {
  padding: 29px 0 19px;
  background: #fff; }
  .header h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: center; }

.border-menu {
  position: relative;
  padding-left: 1.25px; }

.border-menu:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  height: 9px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000; }

.border-menu:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 22px;
  height: 6px;
  border-bottom: 2px solid #000; }

.header-icons {
  text-align: right;
  margin-right: 0; }
  .header-icons li {
    display: inline-block;
    margin-left: 15.5px; }
    .header-icons li svg {
      height: 25px;
      width: 25px; }

.order {
  text-align: center;
  padding: 80px 0 78px; }
  .order .col-md-4 {
    background-color: #fdfdfd;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    position: relative;
    padding: 40px 0 35px;
    margin: 0 1.1%; }
  .order a {
    display: block;
    height: 47px;
    width: 47px;
    margin: 0 auto; }
    .order a:hover {
      cursor: pointer; }

.order-img {
  margin: 45px 0 30px; }

h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.35px;
  font-family: CenturyGothicBold, Arial, sans-serif; }

.social {
  background: #fff;
  text-align: center;
  padding: 37px 0 13px; }
  .social h4 {
    font-size: 20px;
    line-height: 22px; }
  .social li {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 27px 12px; }
    .social li:nth-child(1) {
      background-color: #508bc3;
      box-shadow: inset 0 -4px 0 #40709f, inset 0 0 0 1px rgba(255, 255, 255, 0.15); }
    .social li:nth-child(2) {
      background-color: #27c0c8;
      box-shadow: inset 0 -4px 0 #0b848a, inset 0 0 0 1px rgba(255, 255, 255, 0.15); }
    .social li:nth-child(3) {
      background-color: #df7373;
      box-shadow: inset 0 -4px 0 #ae4c4c, inset 0 0 0 1px rgba(255, 255, 255, 0.15); }
    .social li:nth-child(4) {
      background-color: #beac95;
      box-shadow: inset 0 -4px 0 #827461, inset 0 0 0 1px rgba(255, 255, 255, 0.15); }
    .social li a {
      display: block;
      height: 100%; }
    .social li i {
      color: #fff;
      font-size: 20px;
      line-height: 48px; }

.offer {
  text-align: center;
  padding: 75px 0 180px;
  background: url(../img/offer-bcg.png) repeat; }
  .offer h3 {
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.5px; }
  .offer svg {
    width: 106px;
    height: 105px;
    display: block;
    margin: 15px auto 20px; }
  .offer a {
    background-color: #c2d44e;
    border-radius: 20px;
    color: #fff;
    padding: 8px 15px;
    margin-top: 15px;
    display: inline-block;
    letter-spacing: 0.3px; }
    .offer a:hover {
      background-color: #9ba93e;
      text-decoration: none;
      cursor: pointer; }
  .offer span {
    padding-left: 10px; }

.offer-text {
  color: #070707;
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  line-height: 16px;
  letter-spacing: 0; }

.breadcrumbs li {
  display: inline-block;
  padding-left: 5px; }
  .breadcrumbs li:not(:first-child):before {
    content: "/  "; }
.breadcrumbs a {
  color: #070707;
  font-size: 14px;
  line-height: 22px; }

footer {
  padding: 8px 0;
  background: #fff; }

.payment {
  float: right; }

.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 8px;
  letter-spacing: 0.2px; }
  .copyright span {
    text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
