/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
	.order .col-md-4 {
		width: 31%;
	}
}

@media only screen and (max-width : 1200px) {
	.order .col-md-4 {
		width: 30%;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-icons{
		text-align:center;
	}
	.order .col-md-4 {
		width: 50%;
		margin: 0 auto;
	}
	.order .col-md-4:not(:last-child) {
		margin-bottom: 25px;
	}
	.header h1 {
		margin: 30px 0;
	}
	.offer {
		padding: 75px 0 50px;
	}
	.offer .col-md-4 {
		margin-bottom: 50px;
	}
	footer {
		text-align: center;
	}
	.payment {
		float: none;
	}
	.copyright {
		margin: 15px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.order .col-md-4 {
		width: 65%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.order .col-md-4 {
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}